# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "pindy_dotfiles/defaults.yaml" as default_settings %}

{%
  set pindy_dotfiles = salt['grains.filter_by'](
    default_settings,
    base='default',
    grain='os_family',
    merge=salt['pillar.get']('pindy_dotfiles')
  )
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
